apiVersion: v1
kind: ServiceAccount
metadata:
  name: argo
  namespace: system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: argo-ui
  namespace: system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
  name: argo-aggregate-to-admin
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
      - workflows/finalizers
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
  name: argo-aggregate-to-edit
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
      - workflows/finalizers
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    rbac.authorization.k8s.io/aggregate-to-view: "true"
  name: argo-aggregate-to-view
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
      - workflows/finalizers
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: argo-cluster-role
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/exec
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - watch
      - list
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
    verbs:
      - create
      - delete
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
      - workflows/finalizers
    verbs:
      - get
      - list
      - watch
      - update
      - patch
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: argo-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: argo-cluster-role
subjects:
  - kind: ServiceAccount
    name: argo
    namespace: system
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: workflow-controller-configmap
  namespace: system
data:
  config: |
    namespace: addon-manager-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: workflow-controller
  namespace: system
  labels:
    app.kubernetes.io/component: workflow-controller
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: workflow-controller
  template:
    metadata:
      labels:
        app.kubernetes.io/component: workflow-controller
    spec:
      containers:
        - args:
            - --configmap
            - addon-manager-workflow-controller-configmap
            - --executor-image
            - argoproj/argoexec:v2.3.0-rc3
          command:
            - workflow-controller
          image: argoproj/workflow-controller:v2.3.0-rc3
          name: workflow-controller
      serviceAccountName: argo
---
apiVersion: addonmgr.keikoproj.io/v1alpha1
kind: Addon
metadata:
  name: argo-addon
  namespace: system
spec:
  pkgName: addon-argo-workflow
  pkgVersion: v2.3.0-rc3
  pkgType: composite
  pkgDescription: "Argo Workflow Controller for Addon Controller."
  params:
    namespace: addon-manager-system # the suffix is usually added through kustomize but it doesn't reach this scope
  selector:
    matchLabels:
      app.kubernetes.io/name: addon-manager-argo-addon
      app.kubernetes.io/version: "v2.3.0-rc3"
      app.kubernetes.io/part-of: addon-manager-argo-addon
      app.kubernetes.io/managed-by: addonmgr.keikoproj.io
