apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - argo.yaml
commonLabels:
  app.kubernetes.io/name: addon-manager-argo-addon
  app.kubernetes.io/version: "v2.4.3"
  app.kubernetes.io/part-of: addon-manager-argo-addon
  app.kubernetes.io/managed-by: addonmgr.keikoproj.io
