# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.tar.gz

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html
coverage.txt

# Ignore xunit files
**/junit.xml

# Ignore project files
.idea
*.code-workspace
.vscode/*

bin/
.DS_Store
*.yaml-e

dist/


*.log
.windsurfrules
