# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore xunit files
**/junit.xml

# Ignore project files
.idea
*.code-workspace

bin/
.DS_Store
*.yaml-e

.vscode/

dist/