language: go

go:
  - 1.13.x

git:
  depth: 1

env:
  global:
    - GO111MODULE=on
    - KUBECONFIG=$HOME/.kube/config

cache:
  directories:
    - $HOME/.local
    - $HOME/.kube

install:
  # install dependencies needed by jobs
  - wget https://github.com/kubernetes-sigs/kubebuilder/releases/download/v2.0.0-beta.0/kubebuilder_2.0.0-beta.0_linux_amd64.tar.gz
  - tar -zxvf  kubebuilder_2.0.0-beta.0_linux_amd64.tar.gz
  - sudo mv kubebuilder_2.0.0-beta.0_linux_amd64 /usr/local/kubebuilder

jobs:
  include:

    - stage: unit-test
      if: type IN (push, pull_request)
      script:
        - go test ./api/... ./controllers/... ./pkg/... ./cmd/... -coverprofile coverage.txt
        - bash <(curl -s https://codecov.io/bash)

    - stage: docker-build
      if: type IN (push, pull_request)
      script:
        - if [ $TRAVIS_EVENT_TYPE = push ]; then export IMG=keikoproj/addon-manager:$TRAVIS_BRANCH; fi
        - make docker-build
