name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  unit-test:
    if: github.repository_owner == 'keikoproj'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Download Kubebuilder
        run: |
          curl -L -o kubebuilder_2.3.2_linux_amd64.tar.gz https://github.com/kubernetes-sigs/kubebuilder/releases/download/v2.3.2/kubebuilder_2.3.2_linux_amd64.tar.gz
          tar -zxvf  kubebuilder_2.3.2_linux_amd64.tar.gz
          sudo mv kubebuilder_2.3.2_linux_amd64 /usr/local/kubebuilder

      - name: Test
        run: |
          make cover

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: ./cover.out
          token: ${{ secrets.CODECOV_TOKEN }}

  buildx:
    if: github.repository_owner == 'keikoproj'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Download Kubebuilder
        run: |
          curl -L -o kubebuilder_2.3.2_linux_amd64.tar.gz https://github.com/kubernetes-sigs/kubebuilder/releases/download/v2.3.2/kubebuilder_2.3.2_linux_amd64.tar.gz
          tar -zxvf  kubebuilder_2.3.2_linux_amd64.tar.gz
          sudo mv kubebuilder_2.3.2_linux_amd64 /usr/local/kubebuilder

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64,amd64

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: check -f .goreleaser.yml

      - name: Build
        run: |
          make docker-build
